<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupppofigo.progettocinema">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".CinemaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- LOGIN -->
        <activity android:name=".login.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme" />
        <!-- /LOGIN -->

        <activity
            android:name=".lista_film.MainActivity"
            android:label="@string/film_list_title" >
        </activity>
        <activity
            android:name=".prenotazione_posti.PostiActivity"
            android:label="@string/posti_title" />
        <activity
            android:name=".film_details.DescrizioneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".riassunto.ResumeActivity"
            android:label="@string/resume_title"
            android:theme="@style/AppTheme.Resume" />
        <activity
            android:name=".SessionExpired"
            android:label="@string/session_expired_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu_activities.AccountIntent" />
        <activity android:name=".menu_activities.InfoIntent"></activity>
    </application>

</manifest>